@mixin xs ($width: 543px) {
  @media screen and (max-width: $width) {
    @content;
  }
}

@mixin sm ($width: 544px) {
  @media screen and (min-width: $width) {
    @content;
  }
};

@mixin md ($width: 769px) {
  @media screen and (min-width: $width) {
    @content;
  }
}

@mixin lg ($width: 993px) {
  @media screen and (min-width: $width) {
    @content;
  }
};

@mixin xl($width: 1200px) {
  @media screen and (min-width: $width) {
    @content;
  }
}

$text-color: #333;
$main-color: #29B6F5;

@import 'sanitize';

html {
  font-size: 62.5%;
}

body {
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  color: $text-color;
}

p {
  font-size: 0.7rem;
  @include sm {
    font-size: 1.0rem;
  }
}
