@import "~react-mdl/extra/material";

.mdl-layout-title {
  img {
    height: 45px;
  }
  span {
    color: black;
    font-size: 36px;
    margin-left: 15px;
    position: absolute;
    bottom: 0;
    font-weight: bold;
  }
}

.invoice {
  padding: 80px 56px;
  .is-small-screen {
    padding: 40px 28px;
  }
  .content {
    textarea {
      vertical-align: bottom;
    }
  }
  h3 {
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}